<div id="new-deposit">
  <h1>Create an account</h1>
  <p>Use the form below to provide the required account information.</p>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<fieldset>
  <legend>Account information</legend>
  <%= devise_error_messages! %>

  <div><p><%= f.label :first_name %></p>
  <p><%= f.text_field :first_name %></p></div>
  
  <div><p><%= f.label :last_name %></p>
  <p><%= f.text_field :last_name %></p></div>

  <div><p><%= f.label :email %></p>
  <p><%= f.email_field :email %></p></div>

  <div><p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p></div>

  <div><p><%= f.label :password_confirmation %></p>
  <p><%= f.password_field :password_confirmation %></p></div>

</fieldset>
<div style="padding: 0px 16px 16px 16px;"><%= f.submit "Sign up" %></div>
<% end %>
