<div id="new-deposit">
  <h1>Deposit a new work</h1>
  <p>Use the form below to provide the required metadata.</p>
</div>

<% if @deposit_request.errors.any? %>
<div class="errors">
  <p>Your submission contains a some errors...
  <ul>
  <% @deposit_request.errors.each do |attr, error| %>
    <li><%= attr.capitalize %> <%= error %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div>
  <%= form_for @deposit_request, :html => {:multipart => true, :id => 'deposit-form'} do |f| %>
    <fieldset>
      <legend>Standard information</legend>

      <div>
        <p><%= f.label :title %></p>
        <p><%= f.text_field :title %></p>
      </div>

      <div>
        <p><%= f.label :abstract %></p>
        <p><%= f.text_area :abstract %></p>
      </div>

      <div>
        <p><%= f.label :document_type %></p>
        <p><%= f.select :document_type, document_type_options %></p>
      </div>

      <div>
        <p><%= f.label :authors %> <span class="hint">Separate author names with a comma.</span></p>
        <p><%= f.text_field :authors %></p>
      </div>

      <div>
        <p><%= f.label :date_available, "Availability time" %>  <span class="hint">When may the repository publish your work?</span></p>
        <p><%= f.datetime_select :date_available %></p>
      </div>

      <div>
        <p><%= f.label :attachments, "Documents to deposit" %> [<span style="font-size: 8pt;"><a href="#" id="add_attachment">Add another</a></span>]</p>
        <div id="attachments">
          <p id="attachment"><%= file_field_tag 'deposit_request[attachments_attributes][][file]' %> <span class='remove' style='display:none;'>[<a href="#" class="remove_attachment">remove</a>]</span></p>
        </div>
      </div>
    </fieldset>
    
    <fieldset>
      <legend>Extended metadata</legend>
      
      <div>
        <p><%= f.label :language %></p>
        <p><%= f.select :language, language_options %></p>
      </div>
      
      <div>
        <p><%= f.label :status_statement, "Status" %></p>
        <p><%= f.select :document_type, status_statement_options %></p>
      </div>
      
      <div>
        <p><%= f.label :copyright_holder %></p>
        <p><%= f.text_field :copyright_holder %></p>
      </div>
      
      <div>
        <p><%= f.label :identifier %> <span class="hint">This is rarely used.</span></p></p>
        <p><%= f.text_field :identifier %></p>
      </div>
      
      <div>
        <p><%= f.label :custodian %></p>
        <p><%= f.text_field :custodian %></p>
      </div>
    </fieldset>
    
    <fieldset>
      <legend>Repository selection</legend>
      
      <% Deposit.repositories.each do |identifier, repos| %>
        <p class='repository-select'><%= check_box_tag "deposit_request[repositories][]", identifier, true, :class => 'repository-select-checkbox' %> <%= repos.config['name'] %></p>
      <% end %>
    </fieldset>

    <div class="submit">
      <p><%= link_to "Deposit into #{Deposit.repositories.length} repositories", "#", :id => 'deposit-button', :class => 'deposit-button green-button' %>&nbsp;&nbsp;or&nbsp;&nbsp;<%= link_to 'Cancel', deposit_requests_path %></p>
    </div>
  <% end %>
</div>
